			<!-- About Us section of the home page -->
			<div id="about_us">
				<h3 class="heading">About Us</h3>
				<p class="section">
					Hola Amigos, Welcome to Bake My Day. sddsdsfdsfdssddfds grgrg fdfgsare fbdfgdfg yhrhrgr
					fdgdfdf werwer hfghj werewrwe  sdfwrf wweewrew gegr tdsfdfsdsf hyjjykyuk dfgerfwewe efee
					fsdfsf eretrenhyj yjytjy yuukukuk jujyk fwefwf ghjhgj kuiluikiuk dferfwer dwedwer rgergr
					dssdss dsdss sdsadsadsa.

					<br><br>

					Hola Amigos, Welcome to Bake My Day. sddsdsfdsfdssddfds grgrg fdfgsare fbdfgdfg yhrhrgr
					fdgdfdf werwer hfghj werewrwe  sdfwrf wweewrew gegr tdsfdfsdsf hyjjykyuk dfgerfwewe efee
					fsdfsf eretrenhyj yjytjy yuukukuk jujyk fwefwf ghjhgj kuiluikiuk dferfwer dwedwer rgergr
					dssdss dsdss sdsadsadsa.

					<br><br>

					Hola Amigos, Welcome to Bake My Day. sddsdsfdsfdssddfds grgrg fdfgsare fbdfgdfg yhrhrgr
					fdgdfdf werwer hfghj werewrwe  sdfwrf wweewrew gegr tdsfdfsdsf hyjjykyuk dfgerfwewe efee
					fsdfsf eretrenhyj yjytjy yuukukuk jujyk fwefwf ghjhgj kuiluikiuk dferfwer dwedwer rgergr
					dssdss dsdss sdsadsadsa.
				</p>
			</div>

