#header {
	font-family: cursive;
	text-align: center;
	padding-bottom: 0px;
	padding-left:0px;
	padding-right:0px;
}

#logo {
	max-height: 100%;
	max-width: 100%;
	min-width: 25%
}

.divTheme{
	background-color:#ff9999;

}

.buttonTheme{
	background-color:#ff5050;
	font-weight: bold;
	font-size: 20px;
	color:white;
}
