#header {
	font-family: cursive;
	text-align: center;
	padding-bottom: 0px;
	padding-left:0px;
	padding-right:0px;

}

#logo {
	max-height: 100%;
	max-width: 100%;
	min-width: 25%
}

.heading {
	font-family: cursive;
	font-weight: bold;
}

.section {
	font-family: verdana cursive;
	font-size: 16px;
	background-color: #ff9999;
	height: 350px;
	padding: 20px 20px 20px 20px;
}

#menu {
	font-size: 16px;
	font-family: verdana cursive;
	font-weight: bold;
}

#contactform {
	border: 1px dashed black;
	margin-left: 10px;
	padding: 10px;
	max-height: 100%;
}

.bakeImg{
  width: auto;
  height: 350px;
  max-height: 350px;

}
.divTheme{
	background-color:#ff9999;

}
.buttonTheme{
	background-color:#ff5050;
	font-weight: bold;
	font-size: 20px;
	color:white;
}
