<div class="container">
<div class="page-header" >
<center><img src="/img/bake_logo.png" class="img-rounded" alt="Cinque Terre" ></center> 

</div>


 <div class="btn-group btn-group-justified">
  <a href="#" class="btn btn-primary">Home</a>
  <a href="#" class="btn btn-primary">About Us</a>
  <a href="#" class="btn btn-primary">Menu</a>
  <a href="#" class="btn btn-primary">Contacts</a>
  <a href="#" class="btn btn-primary">Careers</a>
</div>
</div>
